<form action="">
    <div>
        <label for="">Service</label>
        <select name="" id="">
            <option value="">I need a oil change</option>
            <option value="">I need a mechanic</option>
            <option value="">I need a refuel</option>
        </select>
    </div>
    <div>
        <label for="">Service address</label>
        <input type="text" name="Service address" placeholder="Service address" [(ngModel)]="address">
    </div>
    <div>
        <label for="">Date and time</label>
        <input type="text" name="Date and time" placeholder="Select date" [(ngModel)]="date">
    </div>
    <div>
        <label for="">Payment method</label>
    </div>
</form>