.vehicle {
  height: 100%;
  display: grid;
  align-content: center;
}
.vehicle-box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 80%;
  margin-left: 10%;
}
.vehicle-box label {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.vehicle-box input {
  border: none;
  border-bottom: 1px solid #979797;
  margin-top: 10px;
  padding: 10px;
}
