.vehicle {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
}
.vehicle-box {
  display: grid;
}

.vehicle-box h1 {
  font-size: 2rem;
  font-family: "ProximaBold";
  border-bottom: 1px solid #979797;
  padding-bottom: 10px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.87);
  opacity: 1;
}
