<app-question-box class="app-question-flex">
    <!-- <app-service-select class="service-select-container"></app-service-select> -->
    <!-- this will be activated on screen 6 on scheduling service -->
    <app-select-date class="service-select-container"></app-select-date>      
</app-question-box>
<app-services class="app-services-flex">
    <app-mechanic-form></app-mechanic-form>
    <!-- this will be activated on screen 6 on scheduling service -->
    <!-- <app-schedule></app-schedule>             -->
</app-services>
    
    
