<ul class="service-list">
  <li>
    <div class="service-name">
      <p>
        Service name
      </p>
    </div>
    <div class="service-charges">
      <h4 class="service-red">$TBD</h4>
      <h5 class="service-cost">Average $30-40</h5>
    </div>
  </li>
  <li>
    <div class="service-name">
      <p>
        Service name
      </p>
    </div>
    <div class="service-charges">
      <h4 class="service-red">$TBD</h4>
      <h5 class="service-cost">Average $30-40</h5>
    </div>
  </li>
  <li>
    <div class="service-name">
      <p>
        Service name
      </p>
    </div>
    <div class="service-charges">
      <h4 class="service-red">$TBD</h4>
      <h5 class="service-cost">Average $30-40</h5>
    </div>
  </li>
  <li>
    <div class="service-name">
      <p>
        Service name
      </p>
    </div>
    <div class="service-charges">
      <h4 class="service-red">$TBD</h4>
      <h5 class="service-cost">Average $30-40</h5>
    </div>
  </li>
  <li>
    <div class="service-name">
      <p>
        Service name
      </p>
    </div>
    <div class="service-charges">
      <h4 class="service-red">$TBD</h4>
      <h5 class="service-cost">Average $30-40</h5>
    </div>
  </li>
</ul>
