<div class="service-list-container">
  <div>
    <h1>Services</h1>
  </div>
  <ul class="service-list">
    <li *ngFor="let service of services">
      <!-- <a routerLink="/search-result"> -->
        <div class="service-name">
          <h3>
            {{service.serviceName}}
          </h3>
        </div>
        <div class="service-charges">
          <h4 class="service-red">{{service.serviceRed}}</h4>
          <h5 class="service-cost">{{service.serviceCost}}</h5>
        </div>
      <!-- </a> -->
    </li>      
  </ul>
</div>
