.service-list {
  list-style: none;
  padding-left: 0;
}
.service-list li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid rgb(155, 155, 155, 65%);
}
.service-list-container h1 {
  font-family: "ProximaSemiBold";
  font-size: 2rem;
  font-weight: bolder;
}
.service-list h3,
h4,
h5 {
  margin: 5px;
}
.service-charges {
  display: grid;
  justify-content: center;
}
.service-red {
  color: #e40000;
  text-align: center;
  font-size: 1.3rem;
  font-family: ProximaSemiBold;
}
.service-list h3 {
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: ProximaSemiBold;
}
.service-list h5 {
  font-family: ProximaSemiBold;
  font-size: 1rem;
  font-weight: bolder;
}
/* ff0063 */
