<div class="service-pricing">
  <div class="service-pricing-header">
    <h1>Services</h1>
  </div>
  <ul class="service-pricing-list">
    <li>
      <input type="checkbox" />
      <h3>Service name</h3>
      <p>$35.00</p>
    </li>
    <li>
      <input type="checkbox" />
      <h3>Service name</h3>
      <p>$35.00</p>
    </li>
    <li>
      <input type="checkbox" />
      <h3>Service name</h3>
      <p>$35.00</p>
    </li>
    <li>
      <input type="checkbox" />
      <h3>Service name</h3>
      <p>$35.00</p>
    </li>
    <li>
      <input type="checkbox" />
      <h3>Service name</h3>
      <p>$35.00</p>
    </li>
  </ul>
</div>
