.question-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 100%;
}
.question-component {
  flex-basis: 50%;
}
.service-select-container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}
/* mediaq */
@media all and (max-width: 1690px) {
  .question-component {
    flex-basis: 70%;
  }
}
