@font-face {
  font-family: ProximaRegular;
  src: url(../assets/fonts/ProximaNovaRegular.otf) format("opentype");
}
@font-face {
  font-family: ProximaExtrabold;
  src: url(../assets/fonts/ProximaNovaExtrabold.otf) format("opentype");
}
@font-face {
  font-family: ProximaLight;
  src: url(../assets/fonts/ProximaNovaLight.otf) format("opentype");
}
@font-face {
  font-family: ProximaBold;
  src: url(../assets/fonts/ProximaNovaBold.otf) format("opentype");
}
@font-face {
  font-family: ProximaSemiBold;
  src: url(../assets/fonts/ProximaNovaSemibold.otf) format("opentype");
}
@font-face {
  font-family: ProximaThin;
  src: url(../assets/fonts/ProximaNovaThin.otf) format("opentype");
}

.content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 100vh;
}
.left-section {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24), 0 4px 4px 0 rgba(0, 0, 0, 0.12);
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}
.right-section {
  position: relative;
  overflow: auto;
  padding-top: 10vh;
}

.app-question-flex,
.app-services-flex,
.app-button-flex {
  flex-basis: 100%;
}

.app-question-flex {
  height: 30vh;
  display: flex;
  align-content: center;
}
.app-button-flex {
  position: fixed;
  height: 15vh;
  top: 90vh;
  right: 4%;
}
.app-services-flex {
  margin-bottom: 10%;
}

/* mediaq */
@media all and (max-width: 1690px) {
}
@media all and (max-width: 1000px) {
  .select-vehicle {
    width: 1000px;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    overflow: auto;
  }
  .left-section {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24), 0 4px 4px 0 rgba(0, 0, 0, 0.12);
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: auto;
    width: 100%;
  }
  .right-section {
    position: static;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 5vh;
  }
  .app-services-flex {
    margin-bottom: 1%;
  }
}
