<div class="schedule-component">
  <div class="schedule-heading"><h1>Available - june 2 (Today)</h1></div>
  <div class="schedule-button">
    <button>Select a date</button>
  </div>
  <div class="schedule-selector">
    <div>
      <h2>Morning</h2>
      <ul>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
      </ul>
    </div>
    <div>
      <h2>Afternoon</h2>
      <ul>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
        <li>12:00 AM - 12:30 AM</li>
      </ul>
    </div>
  </div>
</div>
