<div class="mechanic-form">
  <div class="mechanic-select">
    <img class="arrow" src="assets/images/arrow.png" alt="" />
    <select name="" id="">
      <option value="">I need a mechanic</option>
      <option value="">I need a oil change</option>
      <option value="">I need a refuel</option>
    </select>
  </div>
  <div class="mechanic-input">
    <input type="text" placeholder="Service address" />
  </div>
  <div class="mechanic-button">
    <img class="arrow" src="assets/images/arrow.png" alt="" />
    <a routerLink="/select-date">Service Date</a>
  </div>
</div>
