.app-question-flex {
  width: 100%;
}
.app-services-flex {
  margin-bottom: 15%;
}
.question-component {
  width: 50%;
}
@media all and (max-width: 1690px) {
  .question-component {
    flex-basis: 70%;
  }
}
