.app-question-flex {
  width: 100%;
}
.app-services-flex {
  margin-bottom: 15%;
}
.question-component {
  width: 50%;
}
.service-select-container {
  box-shadow: 0px 0px 10px #bec2ce;
  border-radius: 20px;
  padding: 5%;
  padding-bottom: 2%;
  padding-top: 1%;
  width: 40%;
}
.order-header {
  display: flex;
  justify-content: center;
}
.order-header h1 {
  font-family: "ProximaSemiBold";
  font-size: 2rem;
}
.complete-img {
  display: flex;
  justify-content: center;
}
.complete-img img {
  width: 60%;
}
/* mediaq */
@media all and (max-width: 1690px) {
  .service-select-container {
    width: 60%;
  }
  .question-component {
    flex-basis: 70%;
  }
}
